* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 1vh;
    display: flex;
    flex-direction: column;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    text-align: center;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}


.header {
    background-image: url(images/b1_hauptbild.jpg);
    border-radius: 5px;
}

.faecher-konzept {
    background-image: url(images/b2_faecher_und_konzept.jpg);
    border-radius: 5px;
    height: 150px;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paed-konzept {
    background-image: url(images/b8_paedagog_konzept.jpg);
    border-radius: 5px;
    height: 150px;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ergebnisse {
    background-image: url(images/b9_ergebnisse.jpg);
    border-radius: 5px;
    height: 150px;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontakt {
    background-image: url(images/b91_kontakt.jpg);
    border-radius: 5px;
    height: 150px;
    margin-bottom: 4rem;

}
.title {
    margin-bottom: 4rem;
}

.mathe {
    background-image: url(images/b3_mathe.jpg);
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 1vh;
}


.deutsch {
    background-image: url(images/b4_deutsch.jpg);
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-bottom: 1vh; 
}

.englisch {
    background-image: url(images/b5_englisch.jpg);
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 1vh;   
}

.geschichte {
    background-image: url(images/b6_geschichte.jpg);
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 1vh;  
}

.gitarre {
    background-image: url(images/b7_gitarre.jpg);
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.welcome,
.paed, 
.reviews,
.contact {
    height: 100vh;
}





@media screen and (min-width: 800px) {
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1rem;
}
body {
    font-size: 1rem;
}
h1,
h2,
h3,
h4 {
    line-height: 1;
}
}



